<header>
    <div id="header">
        <div>
            <img src="../../../assets/image/logo.png" class="logo" alt="logo">
        </div>
        <div class="text-box">
            <h3 class="heading-primary">
                <span class="heading-primary__main">
                    Welcome
                </span>
            </h3>
            <a routerLink="/login" type="button" class="btn btn-white btn-animated" tyle="font-size: medium">
                Login
            </a>
        </div>
    </div>
</header>